.city-name {
  text-align: center;
  font-size: 1.5rem;
  margin: 16px 0;
}

.description {
  margin-left: 50px;
  font-size: 1.2rem;
  line-height: 1.5;
}

@media (max-width: 768px) {
  .description {
    margin-left: 20px;
    font-size: 1rem;
  }
}

@media (max-width: 480px) {
  .description {
    margin-left: 10px;
    font-size: 0.9rem;
  }
}
